<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="Simple UI for visualizing Bitcoin transactions over the world." />
        <meta name="author" content="Wojtek Gawroński (afronski@gmail.com)" />

        <title>Bitcoin Transactions :: Visualization</title>

        <link rel="shortcut icon" href="favicon.ico" />

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Indie+Flower" type="text/css" />
        <link rel="stylesheet" href="styles/main.css" />

        <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    </head>
    <body>
        <article>
            <section id="controls">
                <input type="button" id="toggle-state" value="Start" />

                <section class="coordinates">
                    <input id="nw-corner-lat" type="number" value="71.0" min="-90" max="90" step="0.1" />
                    <input id="nw-corner-lng" type="number" value="-25.0" min="-180" max="180" step="0.1" />
                    <input id="se-corner-lat" type="number" value="32.0" min="-90" max="90" step="0.1" />
                    <input id="se-corner-lng" type="number" value="40.0" min="-180" max="180" step="0.1" />
                </section>
            </section>

            <header>
                <h1>Bitcoin Transactions</h1>
                <h3>Visualization</h3>
            </header>

            <section id="map"></section>

            <footer>
                <p><small>afronski (Wojtek Gawroński) - 2015</small></p>
            </footer>
        </article>

        <script src="socket.io/socket.io.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
